.slideBackground {
    width: 100%;
    margin-bottom: 50px;
    background-color: hsl(61deg, 86%, 69%);
    border: solid 20px hsl(61deg, 86%, 69%);
}

.slide {
    position: relative;
    width: 335px;
    aspect-ratio: 8 / 5;
    background-color: hsl(201deg, 84%, 49%);
    box-shadow: 0px 0px 8px hsla(0deg, 0%, 0%, 20%);
}

.text {
    color: white;
    padding-left: 30px;
}

.time_text {
    font-size: 1.2rem;
    font-weight: 700;
    margin: .2rem;
}

.programName {
    font-size: 2rem;
    font-weight: 700;
}

.description {
    font-size: 1.2rem;
}

.team_text {
    font-size: 1rem;
    font-weight: 400;
}

.button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 8px hsla(0deg, 0%, 0%, 20%);
}

.backward {
    position: absolute;
    left: -20px;
    top: calc(50% - 20px);
}

.forward {
    position: absolute;
    right: -20px;
    top: calc(50% - 20px);
}

.icons {
    width: 100%;
    height: 100%;
}