:root{
    /**/
}
html{
    scroll-behavior: smooth;
}
.contentBox{
    position:relative;
    padding:0 0 2rem 0;
    width:90vw;
    /*background-color: #FCFCFC;*/
    margin:30px auto;
}
h2{
    font-size: 2rem;
    color:hsl(220, 100%, 20%);
    margin:0 0 1rem 0;
    scroll-padding-top: 80px;
    border-bottom:solid 2px hsla(200, 100%, 60%, 0.8);
}
h3{
    position:relative;
    left: 1rem;
    font-size: 1.6rem;
    margin:0.8rem 0 0.4rem 0;
}
p{
    font-size: 1rem;
    padding-left: 1em;
}

#top_visual{
    position:relative;
    width:100vw;
    height:100vh;
    margin: 0;
    background-color: #FCFCFC;
}
#countdown_display{
    text-align: center;
    color: hsl(200, 95%, 50%);
}
#countdown_display span{
    font-size: 3rem;
    font-weight: bold;
}

#home_index ul{
    position:relative;
    left:2rem;
}
#home_index li{
    margin-top: 1rem;
}
#home_index a{
    display: inline-block;
    color: hsl(220, 100%, 60%);
    border-bottom: 2px solid;
}
#container_trainTimetable{
    display: flex;
    justify-content: space-around;
}
.button_trainTimetable{
    position:relative;
    display: inline-block;
    width:10rem;
    text-align: center;
    background-color: #FCFCFC;
    border: 3px solid hsl(220, 100%, 70%);
    border-radius: 2rem;
    font-size: 1.2rem;
}
.slide{
    position:relative;
    width:90%;
    margin:0 auto;
    aspect-ratio: 16 / 10.5;
}
#YSFmap{
    position:relative;
    display:block;
    aspect-ratio: 600 / 450;
    border:0px solid;
    width:90%;
    margin:0 auto;
}