.inputBox {
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
  border: thin solid #000000;
  border-radius: 1em;
  padding: 0.75em;
  margin: 1em;
}

.inputBox input {
  flex-grow: 1;
  outline-style: none;
  border-style: none;
}

.inputPreview {
  display: inline-flex;
  align-items: center;
  margin-right: 2px;
  margin-left: 2px;
  background: rgba(172, 172, 172, 0.2);
}
