.priceTable {
  text-align: left;
}
.priceTable th {
  text-align: left;
  font-size: 2rem;
  width: 400px;
}
.bulletedTable {
  margin-left: 1em;
}

.priceTable td {
  text-align: left;
  font-size: 2rem;
  width: 200px;
}
.priceTable table {
  padding-left: 1em;
}
.bulletedList {
  margin-left: 2em;
}
