.columnElement {
    grid-column: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    margin: 0 auto;

    color: white;

    background-color: var(--stripColor);
}

.columnElement p {
    padding: 0px;
    text-align: center;

    font-weight: bold;
    font-size: 1.25rem;
}