.headingBoard {
    position: relative;
    width: 98%;
    margin: 1%;
    aspect-ratio: 8 / 5;
    color: white;
}

.detail_title {
    font-size: 1.25rem;
}

.individualPage {
    display: block;
    position: relative;
    margin: 10% auto;
    padding: 0 1.5rem 0 1rem;
    height: 1.8rem;

    font-size: 1rem;
    color: white;

    background-color: var(--stripColor);
    border-radius: 5px;
    border: none;
}

.closeButton {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 4.5rem;
    height: 2rem;

    background-color: transparent;
    color: white;
    border: none;
}

.icons {
    position: absolute;
    top: 0px;
    right: 0.2rem;
    height: 100%;
    margin: 0;
}