.columnElement {
    grid-column: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    margin: 0 auto;

    color: white;

    background-color: var(--stripColor);
    box-shadow: hsla(0deg, 0%, 0%, 10%) 1px 2px 16px;
}

.columnElement p {
    padding: 0px;
    text-align: center;

    font-weight: bold;
    font-size: 1rem;
}

.ticketDistributionContainer {
    position: relative;
    grid-column: 1 / 2;

    width: 1.5rem;
    left: 4%;

    filter: drop-shadow(1px 2px 16px hsla(0deg, 0%, 0%, 10%));
}

.ticketDistribution {
    width: 100%;
    height: 100%;

    background-color: hsl(61deg, 86%, 69%);
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - .75rem), 50% 100%, 0% calc(100% - .75rem));
}

.ticketDistribution p {
    writing-mode: vertical-rl;
    padding-left: .1rem;
    padding-top: .3rem;
    white-space: nowrap;
    font-size: 0.8rem;
    color: hsl(226deg, 48%, 25%);
}