.column {
    /*flexBox*/
    display: flex;
}

.odd {
    background-color: aliceblue;
}

.even {
    background-color: aqua;
}

.column_main {
    width: 170px;
}

.timeBoard {
    height: 600px;
    display: grid;
    grid-template-rows: repeat(60, 1fr);
    /*5時間を5分刻みで*/
}

.column_details {
    width: 170px;
    background-color: darkcyan;
}