/*ボタンによる詳細の展開/折り畳みなどの動作を担当するCSS*/

.closed_inTimetable .detailsColumn {
    display: none;
}

:not(.closed_inTimetable .open_button).open_button {
    display: none;
}

:not(.closed_inTimetable .line_1hour).line_1hour {
    width: 200%;
}