.headingBoard {
    position: relative;
    width: 94%;
    margin: 0 auto;
    margin-top: 5px;
    aspect-ratio: 8 / 5;
    background-color: var(--headingColor);
    color: white;
}

.teamName {
    font-weight: 500;
    font-size: 1.1rem;
    padding-left: .3rem;
}

.summary {
    font-size: 0.8rem;
    padding-left: .3rem;
}

.extraInfo {
    position: relative;
    top: 8px;
    font-size: 0.8rem;
}

.expandButton {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 4.5rem;
    height: 2rem;

    background-color: transparent;
    color: white;
    text-align: right;
    padding-right: 2%;
    border: none;
}