.headingBoard {
    position: relative;
    width: 98%;
    margin: 1%;
    aspect-ratio: 8 / 5;
    color: white;
}

.detail_title {
    font-size: 1.25rem;
}

.individualPage {
    display: block;
    position: relative;
    margin: 10% auto;
    padding: 0 1rem;
    height: 1.8rem;
    font-size: 1rem;
    background-color: white;
    border-radius: 5px;
    border: none;
}

.closeButton {
    position: absolute;
    top: 2%;
    right: 2%
}